<% meta.title = 'date and time internationalization' %>
<% meta.menuActive = 'date' %>
<%- include('./partials/_pagehead.html', { meta }) -%>
<%- include('./partials/_header.html', { meta }) -%>

<main><div>

  <form id="translate" class="formlinear">

    <div>
      <label for="timeZone">time zone</label>
      <select id="timeZone" name="timeZone">
        <option value="">default</option>
        <option>UTC</option>
        <option>America/Los_Angeles</option>
        <option>America/Chicago</option>
        <option>America/New_York</option>
        <option>Europe/London</option>
        <option>Europe/Paris</option>
        <option>Europe/Moscow</option>
        <option>Asia/Dubai</option>
        <option>Asia/Kuala_Lumpur</option>
        <option>Asia/Pyongyang</option>
        <option>Asia/Tokyo</option>
        <option>Australia/Adelaide</option>
        <option>Australia/Sydney</option>
        <option>Pacific/Chatham</option>
      </select>
    </div>

    <div>
      <label for="date">date</label>
      <input type="date" id="date" name="date" value="2025-09-05" required />
    </div>

    <div>
      <label for="time">time</label>
      <input type="time" id="time" name="time" value="01:23" required />
    </div>

    <hr />

    <div>
      <label for="method">method</label>
      <select id="method" name="method">
        <option value="format">format()</option>
        <option value="formatRange">formatRange()</option>
      </select>
    </div>

    <div>
      <label for="date2">date 2</label>
      <input type="date" id="date2" name="date2" value="2025-09-05" required />
    </div>

    <div>
      <label for="time2">time 2</label>
      <input type="time" id="time2" name="time2" value="02:23" required />
    </div>

    <hr />

    <div>
      <label for="calendar">calendar</label>
      <select id="calendar" name="calendar">
        <option value="">default</option>
        <option>buddhist</option>
        <option>chinese</option>
        <option>coptic</option>
        <option>ethiopia</option>
        <option>ethiopic</option>
        <option>gregory</option>
        <option>hebrew</option>
        <option>indian</option>
        <option>islamic</option>
        <option>iso8601</option>
        <option>japanese</option>
        <option>persian</option>
        <option>roc</option>
      </select>
    </div>

    <div>
      <label for="numberingSystem">numbering</label>
      <select id="numberingSystem" name="numberingSystem">
        <option value="">default</option>
        <option>arab</option>
        <option>arabext</option>
        <option>bali</option>
        <option>beng</option>
        <option>deva</option>
        <option>fullwide</option>
        <option>gujr</option>
        <option>guru</option>
        <option>hanidec</option>
        <option>khmr</option>
        <option>knda</option>
        <option>laoo</option>
        <option>latn</option>
        <option>limb</option>
        <option>mlym</option>
        <option>mong</option>
        <option>mymr</option>
        <option>orya</option>
        <option>tamldec</option>
        <option>telu</option>
        <option>thai</option>
        <option>tibt</option>
      </select>
    </div>

    <div>
      <label for="hour12">time type</label>
      <select id="hour12" name="hour12">
        <option value="">24 hour</option>
        <option value="true">12 hour</option>
      </select>
    </div>

    <hr />

    <div>
      <label for="dateStyle">date style</label>
      <select id="dateStyle" name="dateStyle">
        <option value="">none</option>
        <option>short</option>
        <option>medium</option>
        <option>long</option>
        <option>full</option>
      </select>
    </div>

    <div>
      <label for="weekday">weekday style</label>
      <select id="weekday" name="weekday">
        <option value="">none</option>
        <option>narrow</option>
        <option>short</option>
        <option>long</option>
      </select>
    </div>

    <div>
      <label for="day">day style</label>
      <select id="day" name="day">
        <option value="">none</option>
        <option>numeric</option>
        <option>2-digit</option>
      </select>
    </div>

    <div>
      <label for="month">month style</label>
      <select id="month" name="month">
        <option value="">none</option>
        <option>numeric</option>
        <option>2-digit</option>
        <option>narrow</option>
        <option>short</option>
        <option>long</option>
      </select>
    </div>

    <div>
      <label for="year">year style</label>
      <select id="year" name="year">
        <option value="">none</option>
        <option>numeric</option>
        <option>2-digit</option>
      </select>
    </div>

    <hr />

    <div>
      <label for="timeStyle">time style</label>
      <select id="timeStyle" name="timeStyle">
        <option value="">none</option>
        <option>short</option>
        <option>medium</option>
        <option>long</option>
        <option>full</option>
      </select>
    </div>

    <div>
      <label for="hour">hour style</label>
      <select id="hour" name="hour">
        <option value="">none</option>
        <option>numeric</option>
        <option>2-digit</option>
      </select>
    </div>

    <div>
      <label for="minute">minute style</label>
      <select id="minute" name="minute">
        <option value="">none</option>
        <option>numeric</option>
        <option>2-digit</option>
      </select>
    </div>

    <div>
      <label for="second">second style</label>
      <select id="second" name="second">
        <option value="">none</option>
        <option>numeric</option>
        <option>2-digit</option>
      </select>
    </div>

    <div>
      <label for="fractionalSecondDigits">fractional style</label>
      <select id="fractionalSecondDigits" name="fractionalSecondDigits">
        <option value="">none</option>
        <option>0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
      </select>
    </div>

    <div>
      <label for="timeZoneName">timezone style</label>
      <select id="timeZoneName" name="timeZoneName">
        <option value="">none</option>
        <option>short</option>
        <option>long</option>
      </select>
    </div>

  </form>

  <%- include('./partials/_table.html', { meta }) -%>

</div></main>

<%- include('./partials/_footer.html', { meta }) -%>
<%- include('./partials/_pagefoot.html', { meta }) -%>
